<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
      <link rel="stylesheet" type="text/css" href="/static/stylesheets/styles.css">
      <link rel="shortcut icon" href="/static/img/favicon.ico" />
	  <script src="/static/js/inventory.js" async></script>
      <noscript>Enable Javascript to use the Add Item feature.</noscript>
      {%block headIncludes%}
      {%endblock%}
    </head>
    <body>
        {% include "header.html" %}
        <div id="miniDash">
            {%block miniDash%}
            {%endblock%}
        </div>

        <div id="contentContainer">
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>
