{% extends "base.html" %}

{%block headIncludes%}
  <link rel="stylesheet" type="text/css" href="#">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/dashboard.css">
  <title>Sporkify - Home</title>
  <script type="text/javascript">
    var emptips = Array("Speak softly and carry a big spork.",
                     "Go get them boxes!",
                     "An inventory item(well probably more than one) a day keeps the firing away!",
                     "\"Shoutout to Sporkify for keepin' me off the streets\" - Guy with Bread",
                     "A sale in the system is worth 2 in inventory..",
                     "A customer and his money are soon parted.",
                     "Seize the Spork!",
                     "Spending is quick; earning is slow. To even this ratio Sporkify's the way to go!",
                     "Pull your socks up.");
    var todaysTip= emptips[Math.floor(Math.random()*emptips.length)];
    console.log(todaysTip);
    $(document).ready(function () {
    $("#randomTip").html(todaysTip);
    });
  </script>
{%endblock%}
{%block miniDash%}
<div id="proTip">
    <p id="randomTip"></p>
    <img id="longSpork" src="/static/img/longSpork.png" alt="long spork">
</div>
{%endblock%}
{% block content %}
{%if is_hr%}
<div class='dash'>
  <div class="dashCard" id="laborcostContainer">
      <canvas id="laborcostDoughnut" width="300" height="300"></canvas>
      <script>
          var dv = document.getElementById("laborcostDoughnut")
          var dChart = new Chart(dv, {
              type: 'doughnut',
              data: {
                labels: ["Total Sales: $", "Total Labor Costs: $"],
                datasets: [
                  {
                    backgroundColor: ["#90a44d", "#a8a8a8"],
                    data: [ {{total_sales}}, {{ labor_cost|floatformat:2 }} ]
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  fontFamily: 'Trebuchet MS',
                  text: 'Total Labor vs. Sales'
                },
                responsive: false,
                maintainAspectRatio: true
              }
          });
          dv.onclick = function(dvt){
              var activePoint = dChart.getElementAtEvent(dvt);
              if(!activePoint.length) return
              console.log('activePoint', activePoint)
              window.location = '/reports'
          };
      </script>
  </div>
  <div class="dashCard" id="grossSalesContainer">
      <canvas id="grossSalesBar" width="300" height="200"></canvas>
      <script>
          var gv = document.getElementById("grossSalesBar")
          var gtx = gv.getContext('2d');
          var gsChart = new Chart(gtx, {
              type: 'bar',
              data: {
                  datasets: [{
                      label: 'Amount $:',
                      data: [ {{ total_sales|floatformat:2 }} ],
                      backgroundColor: ['rgba(0,0,0,0.5'], //change to rgba with transparency
                      borderColor: ['rgba(0,0,0,1'],
                      borderWidth: 1
                  }]
              },
              options: {
                  title: {
                      display: true,
                      fontFamily: 'Trebuchet MS',
                      text: 'Total Sales Collected'
                  },
                  responsive: false,
                  maintainAspectRatio: true,
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          gv.onclick = function(gvt){
              var activePoint = gsChart.getElementAtEvent(gvt);
              if(!activePoint.length) return
              console.log('activePoint', activePoint)
              window.location = '/reports'
          };
      </script>
  </div>
  <div  class="dashCard" id ="ProductTypeSalesContainer">
      <canvas id="ProductType_doughnut" width="300" height="300"></canvas>
      <script>
          var psv = document.getElementById("ProductType_doughnut")
          var psChart = new Chart(psv, {
              type: 'doughnut',
              data: {
                labels: [ {% for key in cat_sal.keys %} '{{key}} $', {% endfor %} ],
                datasets: [
                  {
                    backgroundColor: [ {%for c in color%} 'rgba{{c}}', {%endfor%} ],
                    data: [ {% for value in cat_sal.values %} {{value}}, {% endfor %} ],
                    borderColor: "grey",
                    borderWidth: 1
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  fontFamily: 'Trebuchet MS',
                  text: 'Product Type Sales Distribution'
                },
                legend: {
                  display: true,
                  position: 'bottom'
                },
                responsive: false,
                maintainAspectRatio: true,
                ticks: {
                  beginAtZero: true
                }
              }
          });
          psv.onclick = function(pvt){
              var activePoint = psChart.getElementAtEvent(pvt);
              if(!activePoint.length) return
              console.log('activePoint', activePoint)
              window.location = '/reports'
          };
      </script>
  </div>
  <div class="dashCard" id ="ProductTypeSalesContainer">
    <canvas id="shipmentcostDoughnut" width="300" height="300"></canvas>
    <script>
        var sv = document.getElementById("shipmentcostDoughnut")
        var sChart = new Chart(sv, {
            type: 'doughnut',
            data: {
              labels: ["Total Sales: $", "Total Shipment: $"],
              datasets: [
                {
                  backgroundColor: ["#a8a8a8", "#bfe1dd"],
                  data: [ {{total_sales}}, {{ ship_cost|floatformat:2 }} ]
                }
              ]
            },
            options: {
              title: {
                display: true,
                fontFamily: 'Trebuchet MS',
                text: 'Shipment Cost vs. Total Sales'
              },
              responsive: false,
              maintainAspectRatio: true
            }
        });
        sv.onclick = function(svt){
              var activePoint = sChart.getElementAtEvent(svt);
              if(!activePoint.length) return
              console.log('activePoint', activePoint)
              window.location = '/reports'
          };
    </script>
  </div>
</div>
{%endif%}
{% endblock %}
