{% extends "base.html" %}

{% block headIncludes %}
{% endblock %}

{% block miniDash %}
<div style="margin: 0 auto;">
	<form action="" method="POST">
		{% csrf_token %}
		<!-- Print stuff -->
		{% if clockedIn == True %}
			You are clocked IN!
		{% endif %}

		{% if clockedIn == False %}
			You are clocked OUT!
			{% if timeWorked != None %}
				Your shift lasted for {{ timeWorked }}.
			{% endif %}
		{% endif %}
		<button type="submit" name="clockInOut">Clock In/Out</button>
	</form>
</div>
{% endblock %}

{% block content %}
		<h1>Employee Management</h1><br>
    	<!-- User Side -->
    	<h2>User Preview</h2>
    	<div class="tracktime">
        	<a>Time Portal</a>
        	<br>
			            
    		<form>
    			<fieldset>
    				<legend>Your Information</legend>
    				<label>First Name:</label> <br> <!--pull from django here-->
    				<label>Last Name:</label> <br><!--pull from django here-->
    				<label>Houry Wage:</label> <br><!--pull from django here-->
    			</fieldset>
    		</form>
    	</div><br><br>

    	<!-- Show Hours for the Week -->
    	<a>Weekly Timesheet</a>
        <div class="timesheet_weekly">
        	<table style="width: 100%">
        		<tr>
        			<th>Clock In</th>
        			<th>Clock Out</th>
        			<th>Total Hours</th>
        			<th>Total Pay</th>
        		</tr>
        		{% for shift in myShifts %}
        		<tr>
        			<td>{{shift.time_in}}</td>
        			<td>{{shift.time_out}}</td>
        			<td>{{shift.time_worked}}</td>
        			<td>${{shift.money|floatformat}}</td>
       			</tr>
       			{% endfor %}
        	</table>
        </div><br><br>
        <!-- Manager/Owner Side -->
        <h2>Manager Preview</h2>
        <a>Manage Employees</a>
        <div class="manage">
        	<button id="create_user">Add Employee</button>
        	<button id="remove_user">Remove Employee</button>
        	<table style="width: 100%">
        		<tr>
        			<th>Employee ID</th>
        			<th>First Name</th>
        			<th>Last Name</th>
        			<th>Hourly Wage</th>
        			<th>Permissions</th>
        		</tr>
        		<tr>
        			<td></td>
        			<td></td>
        			<td></td>
        			<td></td>
        			<td></td>
        			<td><button id="edit_user">Edit Information</button></td>
       			</tr>
       		</table>
        </div><br><br>
        <!-- Show Timesheet for that day (or more if possible) -->
        <div class="timesheet_daily">
        	<a>Daily Timesheet</a>
        	<table style="width: 100%">
        		<tr>
        			<th>Employee Name</th>
        			<th>Clock In</th>
        			<th>Clock Out</th>
        			<th>Total Hours</th>
        			<th>Total Pay</th>
        		</tr>
        		{% for shift in shifts %}
        		<tr>
        			<td>{{shift.emp_ID.f_name}} {{shift.emp_ID.l_name}}</td>
        			<td>{{shift.time_in}}</td>
        			<td>{{shift.time_out}}</td>
        			<td>{{shift.time_worked}}</td>
        			<td>${{shift.money|floatformat}}</td>
        			<td><button id="edit_user">Edit Information</button></td>
       			</tr>
       			{% endfor %}
        	</table>
        </div>
{% endblock %}
