{% extends "base.html" %}

{% block headIncludes %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/minidash.css">
<style>
#timeClockForm {
	align-content: center;
    display: flex;
    flex-direction: column;
}

#timeclockContainer {
	background: white;
    width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
	padding: 10px;
	
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	background-color:#F8F8F8;
	border-radius: 5px;
}

#timeclockContainer p {
	text-align: center;
}

#timeclockContainer input[type="submit"]{
	background:rgb(170,170,170);
	width: 157px;
    height: 35px;
    padding: 8px 10px 8px 10px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 12px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    color: #fff;
    align-self: center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid rgb(165,165,165);
	font-size: 15px;
}
</style>
<script type="text/javascript">
	onload = () => {
		// Find elements with clockin tag and update them
		// every half-second
		setInterval(() => {
			const curTime = new Date().getTime() / 1000;

			const elemsToUpdate = document.querySelectorAll("[clockin]");
			elemsToUpdate.forEach((elem) => {
				var timeDiff = curTime - parseInt(elem.getAttribute("clockin"));

				const hours = Math.floor(timeDiff / 3600).toString().padStart(2, '0');
				timeDiff %= 3600;
				const minutes = Math.floor(timeDiff / 60).toString().padStart(2, '0');
				const seconds = Math.floor(timeDiff % 60).toString().padStart(2, '0');

				elem.innerHTML = `${hours}:${minutes}:${seconds}`;
			});
		}, 500);
	}
</script>
{% endblock %}

{% block miniDash %}
<div id="timeclockContainer">
	<form id="timeClockForm" action="" method="POST">
		{% csrf_token %}
		<!-- Print stuff -->
		<p>
		{% if clockedIn == True %}
			You have been on the clock for <span clockin="{{ curShiftStartedAt }}">(calculating...)</span>
		{% endif %}

		{% if clockedIn == False %}
			You are not clocked in.
			{% if timeWorked != None %}
				Your shift lasted for {{ timeWorked }}.
			{% endif %}
		{% endif %}
		</p>
		<input type="submit" id="clockInOut" name="clockInOut" value='Clock {{ clockedIn|yesno:"Out,In" }}' />
	</form>
</div>
{% endblock %}

{% block content %}
		<h1>Employee Management</h1><br>
    	<!-- User Side -->
    	<h2>Your Timesheet</h2>

    	<!-- Show Hours for the Week -->
        <div class="timesheet_weekly">
        	<table style="width: 100%">
        		<tr>
        			<th>Clock In</th>
        			<th>Clock Out</th>
        			<th>Total Hours</th>
        			<th>Total Pay</th>
        		</tr>
        		{% for shift in myShifts %}
        		<tr>
        			<td>{{shift.time_in}}</td>
        			<td>{{shift.time_out}}</td>
        			<td>{{shift.time_worked}}</td>
        			<td>${{shift.money|floatformat}}</td>
       			</tr>
       			{% endfor %}
        	</table>
        </div><br><br>
        <!-- Manager/Owner Side -->
        <h2>Manager Preview</h2>
        <div class="manage">
        	<button id="create_user">Add Employee</button>
        	<button id="remove_user">Remove Employee</button>
        	<table style="width: 100%">
        		<tr>
        			<th>First Name</th>
        			<th>Last Name</th>
        			<th>Hourly Wage</th>
        			<th>Permissions</th>
        		</tr>
                {% for employee in employees %}
        		<tr>
        			<td>{{employee.emp_id}}</td>
        			<td>{{employee.f_name}}</td>
        			<td>{{employee.l_name}}</td>
        			<td>{{employee.hourly_wage}}</td>
        			<td>{{employee.permissions}}</td>
        			<td><button id="edit_user">Edit Employee Info</button></td>
       			</tr>
                {% endfor %}
       		</table>
        </div><br><br>
        <!-- Show Timesheet for that day (or more if possible) -->
        <div class="timesheet_daily">
        	<a>Daily Timesheet</a>
        	<table style="width: 100%">
        		<tr>
        			<th>Employee Name</th>
        			<th>Clock In</th>
        			<th>Clock Out</th>
        			<th>Total Hours</th>
        			<th>Total Pay</th>
        		</tr>
        		{% for shift in shifts %}
        		<tr>
        			<td>{{shift.emp_ID.f_name}} {{shift.emp_ID.l_name}}</td>
        			<td>{{shift.time_in}}</td>
        			<td>{{shift.time_out}}</td>
        			<td>{{shift.time_worked}}</td>
        			<td>${{shift.money|floatformat}}</td>
       			</tr>
       			{% endfor %}
        	</table>
        </div>
{% endblock %}
