<div id="headerHolder">
  <header>
    <img class="headerlogo" src="/static/img/boldspork.png" alt="Sporkify">
    <div class="headerlinks">
      <a class="dashB" href="/dashboard">Dashboard</a>
      <a class="inVent" href="/inventory">Inventory</a>
      <a class="saleS" href="/sales">Sales</a>
      <a class="emploY" href="/employees">Employees</a>
      <a class="vendors" href="/vendors">Vendors</a>
      <img class="sporky" src="/static/img/sporkhead.png" alt="sporkhead">
    </div>
  </header>
  <div class="darkness"></div>
</div>
