
{%extends "base.html"%}


{%block headIncludes%}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/inventory.css">
{%endblock%}

{%block miniDash%}

<div id="add_item">
  <div id="add_item" style="display:none;">
    <h2>Add Item</h2><br>
    <form method="post">
        <input type="text" name="Item Name" value="Item Name"><br>

        <h2>Sales Site</h2><br>
        {% for channel in channels %}
        <input type="radio" name="Sale Site" value="{{channel.pk}}">{{channel.name}}<br>
        {% endfor %}

        <a>Vendor</a><br>
        {% for vendor in vendors %}
        <input type="radio" name="Vendor" value="{{vendor.pk}}">{{vendor.comp_Name}}<br>
        {% endfor %}

        <h2>Condition</h2><br>
        <input type="radio" name="Condition" value="new" checked>New<br>
        <input type="radio" name="Condition" value="used">Used<br>
        <input type="radio" name="Condition" value="parts">Parts<br>

        <h2>Purchase Price</h2><br>
        <input type="text" name="Purchase Price" value="$0.00"><br>

        <h2>Asking Price</h2><br>
        <input type="text" name="Asking Price" value="$0.00"><br>

        <h2>Product Type</h2><br>
        <input type="radio" name="Type" value="laptop" checked>Laptop<br>
        <input type="radio" name="Type" value="desktop">Desktop<br>
        <input type="radio" name="Type" value="phones">Smartphone<br>

        <input type="submit" value="Done!">
        <input type="submit" value="Cancel">
    </form>
</div>
{%block%}


{%block contentContainer%}
<table style="width:100%">
  <tr>
    <th>Product Code</th>
    <th>Selling Site</th>
    <th>Vendor</th>
    <th>Condition</th>
    <th>Purchase Price</th>
    <th>Asking Price</th>
    <th>Product Type</th>
    <th>Added By</th>
    <th>Time Added</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{item.product_code}}</td>
    <td>{{item.selling_site.name}}</td>
    <td>{{item.vendor.comp_Name}}</td>
    <td>{{item.condition.cond_Name}}</td>
    <td>{{item.pur_price}}</td>
    <td>{{item.ask_price}}</td>
    <td>{{item.product_code}}</td>
    <td>{{item.added_by.user.username}}</td>
    <td>{{item.time_added}}</td>
    <td><button>Edit Item</button></td>
    <td>
      <form action="" method="POST">{% csrf_token %}<input type="hidden" name="productCode" value="{{item.product_code}}" /><button
          type="submit" name="deleteItem">Delete Item</button></form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

