{%extends "base.html"%}


{%block headIncludes%}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/inventory.css">
{%endblock%}

{%block miniDash%}

<div id="add_item">
  <h2>Add Item</h2><br>
  <form method="post">
    <input type="text" name="Item Name" value="Item Name"><br>

    <h2>Sales Site</h2><br>
    <select name="Sale Site">
        {% for channel in channels %}
            <option value="{{channel.pk}}">{{channel.name}}<option>
        {% endfor %}
    </select>

    <h2>Vendor</h2><br>
    <select name="Vendor">
        {% for vendor in vendors %}
            <option value="{{vendor.pk}}">{{vendor.comp_Name}}<option>
        {% endfor %}
    </select>

    <h2>Condition</h2><br>
    <input type="radio" name="Condition" value="new" checked>New<br>
    <input type="radio" name="Condition" value="used">Used<br>
    <input type="radio" name="Condition" value="parts">Parts<br>

    <h2>Purchase Price</h2><br>
    <input type="text" name="Purchase Price" value="$0.00"><br>

    <h2>Asking Price</h2><br>
    <input type="text" name="Asking Price" value="$0.00"><br>

    <h2>Product Type</h2><br>
    <select name="Type">
        {% for product_type in product_types %}
        <option value="{{product_type.pk}}">{{product_type.type_name}}</option>
        {% endfor %}
    </select>

    <br><br>  <!-- For spacing, please refactor with styling -->

    <input type="submit" value="Done!">
    <input type="submit" value="Cancel">
  </form>
</div>
{%endblock%}


{%block contentContainer%}
<table style="width:100%">
  <tr>
    <th>Product Code</th>
    <th>Selling Site</th>
    <th>Vendor</th>
    <th>Condition</th>
    <th>Purchase Price</th>
    <th>Asking Price</th>
    <th>Product Type</th>
    <th>Added By</th>
    <th>Time Added</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{item.product_code}}</td>
    <td>{{item.selling_site.name}}</td>
    <td>{{item.vendor.comp_Name}}</td>
    <td>{{item.condition.cond_Name}}</td>
    <td>{{item.pur_price}}</td>
    <td>{{item.ask_price}}</td>
    <td>{{item.product_code}}</td>
    <td>{{item.added_by.user.username}}</td>
    <td>{{item.time_added}}</td>
    <td><button>Edit Item</button></td>
    <td>
      <form action="" method="POST">{% csrf_token %}<input type="hidden" name="productCode" value="{{item.product_code}}" /><button
          type="submit" name="deleteItem">Delete Item</button></form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}