{% extends "base.html" %}
		
{% block headIncludes %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<title>Sporkify - Reports</title>

{% endblock %}

{% block content %}
<!--Total Gross Sales, Labor vs. Gross Sales, Category Sales-->
<canvas id="categorySalesPolar" width="800" height="450"></canvas>
<script>
	var pv = document.getElementById("categorySalesPolar")
	var csPolar = new Chart(pv, {
	    type: 'polarArea',
	    data:  {
	      labels: [ {% for k in category_sales.items.keys %} "{{k}}", {% endfor %} ],
	      datasets: [
	      	{
	          label: "Sales $:",
	          backgroundColor: ["#2ecc71", "#3498db", "#95a5a6", "#9b59b6",
        		"#f1c40f", "#e74c3c", "#34495e"],
	          data: [ {% for v in category_sales.items.values %} '{{v.vs}}', {% endfor %} ]
	        }
	      ]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'Product Type Sales'
	      },
	      responsive: false,
          maintainAspectRatio: true
	    }
});
</script>
{% endblock %}

