{% extends "base.html" %}
		
{% block headIncludes %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/report.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<title>Sporkify - Reports</title>
{% endblock %}

{% block content %}
<div id="WeeklySalesContainer">
	<canvas id="line-chart" width="500" height="300"></canvas>
	<script>
	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
	    datasets: [{ 
	        data: [86,114,106,106,107,111,133,221,783,2478],
	        label: "Last Week",
	        borderColor: "rgb(194,224,222)",
	        fill: false
	      }
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'Weekly Sales'
	    },
	    responsive: false,
	    maintainAspectRation: true
	  }
	});
	</script>
</div>
<h1>Sales Reports</h1>
<table>
	<caption>Expenditures</caption>
	<thead>
		<tr>
			<th scope="col" colspan="2">Cost of</th>
			<th scope="col">Amount</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Shipping Materials</td>
			<td colspan="3">${{ material_cost }}</td>
		</tr>
		<tr>
			<td>Shipping Fees</td>
			<td colspan="3">${{ ship_cost }}</td>
		</tr>
		<tr>
			<td>Labor</td>
			<td colspan="3">${{ labor_cost }}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Total Spending</td>
			<td colspan="3">${{ spend_total }}</td>
		</tr>	
		<tr>
			<td>Total Sales</td>
			<td colspan="3">${{total_sales}}</td>
		</tr>
		<tr>
			<td>Net Sales</td>
			<td colspan="3">{{net_sales}}</td>
		</tr>
	</tfoot>
</table>
<br><br>
<table>
	<caption>Vendor Distribution</caption>
	<thead>
		<tr>
			<th scope="col" colspan="2">Vendor Name</th>
			<th scope="col">Items in Inventory</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in vendor_distro.items %}
		<tr>
			<td>{{key.comp_Name}}</td>
			<td colspan="3">{{value}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<table>
	<caption>Product Type Sales</caption>
	<thead>
		<tr>
			<th scope="col" colspan="2">Product Type</th>
			<th scope="col">Amount</th>
		</tr>
	</thead>
	<tbody>
		{% for key, value in cat_sales.items %}
		<tr>
			<td>{{key}}</td>
			<td colspan="3">${{value}}</td>
		</tr>
		{% endfor %}
	</tbody>		
</table>

{% endblock %}

