{% extends "base.html" %}
		<h1>Sales Reports</h1>
		{% block headIncludes %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
		{% endblock %}
		{% block content %}
		<canvas id="myChart" width="50" height="200"></canvas>
		<script>
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        datasets: [{
		            label: 'Amount (Dollars $)',
		            data: [ {{total_sales}} ],
		            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
		            borderColor: ['rgba(255,99,132,1)'],
		            borderWidth: 1
		        }]
		    },
		    options: {
		    	title: {
		    		display: true,
		    		text: 'Total Sales History'
		    	},
		    	maintainAspectRatio: false,
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
		</script>
		
		<canvas id="doughnut-chart" width="800" height="450"></canvas>
		<script>
			new Chart(document.getElementById("doughnut-chart"), {
			    type: 'doughnut',
			    data: {
			      labels: ["Total Sales: $", "Total Labor Costs: $"],
			      datasets: [
			        {
			          backgroundColor: ["#3e95cd", "#8e5ea2"],
			          data: [ {{total_sales}}, {{labor_cost|floatformat}} ]
			        }
			      ]
			    },
			    options: {
			      title: {
			        display: true,
			        text: 'Total Labor vs. Sales'
			      }
			    }
			});
		</script>
		{% endblock %}
		<a>Weekly Gross Sales</a>


		<h2>Category Sales</h2>
		<a>Items Sold</a>
		<a>Gross Sales</a>

		<a>Average Spent per Sale</a>
