{% extends "base.html" %}
{%block headIncludes%}
<title>Sporkify - Sales</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/sales.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#salesTable').DataTable();
    });
</script>

{%endblock%}
{% block content %}
<form action="/download-sales-history/" method="POST"> {% csrf_token %}
<h1>Sales History
    <button class="csv_btn" title="Export to CSV">
        <i class="fas fa-file-export"></i>
    </button>
</h1>
<table id="salesTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Past Product Code</th>
            <th>Product Type</th>
            <th>Condition</th>
            <th>Vendor</th>
            <th>Cost</th>
            <th>Selling Site</th>
            <th>Sold For</th>
            <th>Added to In. By</th>
            <th>Time Added</th>
            <th>Shipment Number</th>
            <th>Archived By</th>
            <th>Time Archived</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{item.invoice_num}}</td>
            <td>{{item.past_product_code}}</td>
            <td>{{item.product_type}}</td>
            <td>{{item.condition}}</td>
            <td>{{item.vendor}}</td>
            <td>{{item.pur_price}}</td>
            <td>{{item.selling_site}}</td>
            <td>{{item.sel_price}}</td>
            <td>{{item.added_by}}</td>
            <td>{{item.time_added}}</td>
            <td>{{item.shipment_number}}</td>
            <td>{{item.archived_by}}</td>
            <td>{{item.time_archived}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}