{% extends "base.html" %}
{%block headIncludes%}
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/sales.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
  <title>Sporkify - Sales</title>
{% endblock %}

{% block miniDash %}
    <div id="grossSalesContainer">
        <canvas id="grossSalesBar" width="400" height="200"></canvas>
        <script>
            var gv = document.getElementById("grossSalesBar")
            var gtx = gv.getContext('2d');
            var gsChart = new Chart(gtx, {
                type: 'horizontalBar',
                data: {
                    datasets: [{
                        label: 'Amount (Dollars $)',
                        data: [ {{ total_sales|floatformat:2 }} ],
                        backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                        borderColor: ['rgba(255,99,132,1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Total Sales History'
                    },
                    responsive: false,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
            gv.onclick = function(gvt){
                var activePoint = gsChart.getElementAtEvent(gvt);
                console.log('activePoint', activePoint)
                window.location = '/reports'
            };
        </script>
    </div>
    <div id ="ProductTypeSalesContainer">
        <canvas id="ProductType_doughnut" width="300" height="300"></canvas>
        <script>
            var psv = document.getElementById("ProductType_doughnut")
            var psChart = new Chart(psv, {
                type: 'doughnut',
                data: {
                  labels: [ {% for key in cat_sal.keys %} '{{key}}', {% endfor %} ],
                  datasets: [
                    {
                      backgroundColor: [ {%for c in color%} 'rgba{{c}}', {%endfor%} ],
                      data: [ {% for value in cat_sal.values %} {{value}}, {% endfor %} ],
                      borderColor: "grey",
                      borderWidth: 1
                    }
                  ]
                },
                options: {
                  title: {
                    display: true,
                    text: 'Product Type Sales (Dollars)'
                  },
                  legend: {
                    display: true,
                    position: 'bottom'
                  },
                  responsive: false,
                  maintainAspectRatio: true,
                  ticks: {
                    beginAtZero: true
                  }
                }
            });
            psv.onclick = function(pvt){
                var activePoint = psChart.getElementAtEvent(pvt);
                console.log('activePoint', activePoint)
                window.location = '/reports'
            };
        </script>
    </div>
{% endblock %}

{% block content %}
    <h1>Sales History</h1>
    <table style="width:100%">
            <tr>
                <th>Invoice Number</th>
                <th>Past Product Code</th>
                <th>Product Type</th>
                <th>Condition</th>
                <th>Vendor</th>
                <th>Cost</th>
                <th>Selling Site</th>
                <th>Sold For</th>
                <th>Added to In. By</th>
                <th>Time Added</th>
                <th>Shipment Number</th>
                <th>Archived By</th>
                <th>Time Archived</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.invoice_num}}</td>
                <td>{{item.past_product_code}}</td>
                <td>{{item.product_type}}</td>
                <td>{{item.condition}}</td>
                <td>{{item.vendor}}</td>
                <td>{{item.pur_price}}</td>
                <td>{{item.selling_site}}</td>
                <td>{{item.sel_price}}</td>
                <td>{{item.added_by}}</td>
                <td>{{item.time_added}}</td>
                <td>{{item.shipment_number}}</td>
                <td>{{item.archived_by}}</td>
                <td>{{item.time_archived}}</td>
                <td><button>Edit Item</button></td>
                <td>
                    <form action="" method="POST">{% csrf_token %}<input type="hidden" name="Invoice Number" value="{{item.invoice_num}}" /><button
                            type="submit" name="deleteItem">Delete Item</button></form>
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
