{%extends "base.html"%}
{%block headIncludes%}
<link rel="stylesheet" type="text/css" href="#">
<title>Shipment</title>
{%endblock%}
{%block content%}
<h1>Sporkify</h1>
<form id="shipment" action="/shipment/" method="post"> {% csrf_token %}
	<fieldset>
		<legend>Create User</legend>
            <label for="tracking_number">Tracking Number:</label>
        <br>
			<input type="text" name="tracking_number" placeholder="Enter Tracking Number" maxlength="100" size="40" required> </input>
		<br>
            <label for="shipping_cost">Shipping Cost:</label>
        <br>
			<input type="text" name="shipping_cost" placeholder="$0.00"  maxlength="40" size="40" required> </input>
		<br>
            <label for="materials_used">Materials Used:</label>
        <br>
			<input type="text" name="materials_used" placeholder="Enter Materials Used" maxlength="40" size="40"required> </input>
        <br>
            <label for="material_cost">Material Cost:</label>
        <br>
            <input type="text" name="materials_cost" placeholder="$0.00" maxlength="40" size="40" required></input>
        <br>
            <label for="user_shipped">User Shipped:</label>
        <br>
            <input type="text" name="user_shipped" placeholder="Enter the username" maxlength="40" size="40" required></input>
        <br>
            <label for="time_shipped">Time Shipped:</label>
        <br>
            <input type="datetime-local" name="time_shipped" required></input>
        <br>
			<input type="submit"> </input>
	</fieldset>
</form>
{%endblock%}