#contentContainer{
 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.0);
  background: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 10px;
}
